{layout name="layout" /}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">註冊</h1>
      <p class="lead">This is 註冊</p>
    </div>
  </div>
<div class="input-group flex-nowrap px-5">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">email</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<div class="input-group flex-nowrap px-5 mt-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">password</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<div class="input-group px-5 mt-3">
    <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">gender</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">男</option>
    <option value="2">女</option>
    </select>
</div>
<button type="button" class="btn btn-primary ml-5 mt-3">註冊</button>
<button type="button" class="btn btn-danger ml-2 mt-3">重設</button>
<button type="button" class="btn btn-secondary ml-2 mt-3">返回</button>
