{layout name="layout" /}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">登入</h1>
      <p class="lead">This is 登入</p>
    </div>
</div>

<div class="input-group flex-nowrap px-5">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">email</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<div class="input-group flex-nowrap px-5 mt-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">password</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
<button type="button" class="btn btn-primary ml-5 mt-3">登入</button>
<button type="button" class="btn btn-success ml-2 mt-3">申請</button>

